@font-face {
    font-family: 'Shrikhand';    
    src: url("./Police/Shrikhand/Shrikhand-Regular.otf");
    font-family: 'Roboto-Regular';
    src: url("./Police/Roboto/Roboto-Regular.ttf");
    font-family: 'Roboto-Light';
    src: url("./Police/Roboto/Roboto-Light.ttf");  
}
     /*body*/

     body{
        font-family: 'Roboto';
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /*header*/

    header{
        margin: 0;
        padding-bottom: 0;
        width: 100%;
    }
    .logo{
        margin-top: 0%;
        margin-bottom: 1%;
        margin-left: 0;
        margin-right: 0;
        background-color: white;
        display: flex;
        justify-content: space-between;
    }
    .arrow{
        display: flex;
        text-decoration: none;
        color: black;
        padding-left: 5%;
        margin-top: 3%;
    }
   
    .imagelogo {
        font-family: 'Shrikhand';
        width: 40%;
        height: auto;
        background-color: white;
        display: flex; 
        margin-right: 30%;
        margin-top: 3%;
    }

    /*Image du restaurant*/

    .photo{
        width: 100%;
        height: 260px;
        margin-bottom: -15%;
    }
    .picture{
        width: 100%;
        border: 1px solid transparent;
    }
    img{
        width: 100%;
        height: 250px; 
        object-fit: cover;
    }

    /*Main, Article*/

    main{
        width: 100%;
        background-color: #F2F2F2;
        position: relative;
        z-index: 1;
        border-radius: 40px 40px 0px 0px;
        padding-top: 40px;
        margin: 0;
    }
    article{
        width: 100%;
        background-color: #F2F2F2;
        padding-left: 0;
        padding-right: 0;
    }
    .titre{
        border-radius: 50px 50px 0px 0px;
        width: 100%;
        height: auto;
        display: flex; 
        justify-content: space-between;
    }
    h1{
        font-family: 'Shrikhand';
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        margin-left: 3%;
        margin-top: 0;
        margin-bottom: 5%;
    }
    .far.far{
        font-size: 1.6rem;
        font-weight: bold;
        margin-right: 10%;
        margin-bottom: 10%;
        color: rgb(101, 101, 104);
        display: flex;
        align-items: center; 
    } 
    .fa.far::before {
        content: "&#xf004";
        font-weight: bold;
        transition: color 3s ease-in-out;
    }
    .far.far:hover::before{
        color: red;
        cursor: pointer;
    }
    
    /*Menus*/
    .menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 3%;
    }

    .mets{
        width: 97%;
        padding-left: 0%;
        padding-bottom: 10%;
    }
    h2{ 
        font-family: 'Roboto-Light';
        font-size: 1em;
        font-weight: inherit;
        margin-top: 0;
        margin-bottom: 1%;
        margin-left: 3%;
    }
    .trait_dessous{
        width: 40px;
        margin-left: 3%;
        margin-bottom: 3%;
    }
    hr{
        height: 2px;
        border-color: transparent;
        background:#9bbee0; 
        margin-top: 2%;
    }
    .card{
        border: 1px solid #e5e6e7;
        border-color: #F2F2F2;
        border-radius: 20px;
        background: white;
        box-shadow: 0px 5px 5px #e0e3e6;
        width: 94%;
        height: 70px;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .card p{
        margin-top: 0;
        margin-bottom: 0%;
        margin-left: 3%;
        margin-right: 3%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .first{
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 3%;
        margin-bottom: 0%;
        padding-top: 4%;
        padding-bottom: 1%;
    }
    .second{
        font-family: 'Roboto-Light';
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }    
    .price{
        color: black;
        font-weight: bolder;
        display: flex;
        justify-content: space-between;
        font-weight: bolder;
        margin-right: 5%;
    }

    /*Bouton*/

    .btn{
        width: 50%;
        background: linear-gradient(#FF79DA , #9356DC);
        box-shadow: 4px 4px 6px #c7cff5;
        border-radius: 30px;
        padding: 5%;
        color: #fff;
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 15%;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
    .btn:hover{
        background: linear-gradient(#f5bce5 , #b28fdd);
        box-shadow: 0px 5px 12px 3px #657cf0;
    }

    /*Footer*/

    footer{
        width: 100%;
        height: auto;
        padding-bottom: 10%;
        background-color: black;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
        display: flex;
        flex-direction: column;
    }
    .footerlogo{
        margin-left: 7%;
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .picturelogo{
        width: 40%;
    }
    .elements{
        display: flex;
        flex-direction: column;
        margin-left: 3%;
    }
    .element{
        color: white;
        font-size: 1.1em;
        margin-left: 5%;
        margin-top: 0%;
        margin-bottom: 2%;
        text-decoration: none;
    }
    .element i{
        margin-right: 3%;
        font-size: 1em;
    }
    .fa-utensils:before{
        font-size: 0.9em;
    }
    .fa-hands-helping:before{
        font-size: small;
    }
    @media (min-width: 376px) and (max-width: 768px){

        header{
            width: 100%;
        }
        .logo{
            margin: 0;
        }
        .arrow{
            padding-bottom: 2%;
        }
        .imagelogo {
            width: auto;
            height: auto; 
            padding-right: 0%;
        }
        .photo{
            width: 100%;
            height: 260px;
            margin-bottom: -10%;
        }
        article{
            width: 100%;
        }
        .titre{
            width: auto;
            height: 40px;
        }
        .far.far{
            margin-top: 2%;
        }
        .mets{
            padding-bottom: 3%;
        }
        .card{
            width: 97%;
            margin-bottom: 3%;  
        }
        .first{
            padding-top: 2%;
        }
        .btn{
            padding: 2%;
            font-size: 1em;
            margin-top: 0%;
            margin-bottom: 5%;
            margin-left: auto;
            margin-right: auto;   
        }
        footer{
            padding-bottom: 1%;
        }
        .footerlogo{
            padding-top: 3%;
            padding-bottom: 3%;
        }
        .picturelogo{
            margin-left: -5%;
        }
        .element{
            margin-bottom: 1%;
        }
    }
    @media (min-width: 769px) and (max-width: 1024px){

        body{
            width: 100%;
        }
        .photo{
            width: 100%;
            height: 250px;
            margin-bottom: -5%;
        }
        .picture{
            width: 100%;
        }
        header{
            width: 100%;
        }
        .logo{
            margin: 0;
        }
        .arrow{
            padding-bottom: 1%;
        }
        .imagelogo {
            width: auto;
            height: auto; 
            margin-right: 40%;
            padding-bottom: 1%;
            padding-right: 0;
        }
    
        main{
            width: 100%;
            background-color: #F2F2F2;
            position:relative;
            z-index: 0;
            border-radius: 0px 0px 0px 0px;
            padding-top: 0px;
            margin: 0%;
        }
        article{
            width: 100%;
        }
        .titre{
            width: 100%;
            height: 40px;
            margin-top: 5%;
        }
        h1{
            margin-bottom: 0;
        }
        .far.far{
            font-size: 1.8rem;
            margin-bottom: 0;
            margin-right: 3%;
            padding-top: 0%;
        }
        .mets{
            padding-bottom: 3%;
        }
        .card{
            margin-bottom: 3%;  
        }
        .first{
            padding-top: 1%;
        }
        .btn{
            width: 25%;
            padding: 2%;
            font-size: 1.1em;
            margin-top: 0%;
            margin-bottom: 5%;
            margin-left: auto;
            margin-right: auto;   
        }
        footer{
            padding-bottom: 1%;
        }
        .footerlogo{
            padding-top: 3%;
            padding-bottom: 3%;
        }
        .picturelogo{
            margin-left: -5%;
        }
        .element{
            margin-bottom: 1%;
        }
    }
    @media (min-width: 1025px){
    /*body*/

    body{
        font-family: 'Roboto';
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    /*header*/

    header{
        width: 100%;
        padding-bottom: 0;
    }
    main{
        width: 100%;
        background-color: #F2F2F2;
        position:relative;
        z-index: 0;
        border-radius: 0px 0px 0px 0px;
        padding-top: 0px;
        margin: 0%;
    }
    .titre{
        margin-top: 3%;
    }
    article{
        width: 100%;
    }
    .logo{
        margin: 0;
        background-color: white;
        display: flex;
        justify-content: space-between;
    }
    .arrow{
        display: flex;
        text-decoration: none;
        color: black;
        padding-top: 1%;
        padding-left: 3%;
    }
    .imagelogo {
        width: auto;
        height: auto; 
        padding-top: 0%;
        padding-bottom: 1%;
        padding-right: 0%;
        margin-right: 40%;
        margin-left: 0;
    }

    /*Image du restaurant*/

    .photo{
        width: 100%;
        height: auto;
        margin-bottom: -5%;
    }
    .picture{
        width: 100%;
        height: auto;
    }
    img{
        width: 100%;
    }

    /*Main, Article */

    main{
        width: 100%;
        margin-top: 3%;   
    }
    article{
        width: 100%;
        height: auto;
        padding-left: 0%;
        padding-right: 0%;
        display: flex;
        flex-direction: column;   
    }
    .titre{
        width: 100%;
        height: 40px;
    }
    h1{
        font-size: 1.8rem;
        margin-left: 3%; 
        margin-bottom: 0;
        padding-top: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .far.far{
        font-size: 1.8rem;
        margin-bottom: 0;
        margin-right: 3%;
        padding-top: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }  

    /*Menus*/

    .menu{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        margin-left: 3%;
        margin-right: 3%;
    }
    .mets{
        width: 32%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0%;
    }
    h2{
        font-size: 1em;
        font-weight: inherit;
        margin-left: 0%;
        margin-bottom: 1%;
    }
    .trait_dessous{
        width: 40px;
        margin-left: 0%;
        margin-bottom: 0%;
    }
    hr{
        height: 2px;
        border-color: transparent;
        background:#9bbee0; 
        margin-top: 1%;
    }
    div.card{
        border-radius: 20px;
        box-shadow: 0px 5px 5px #e0e3e6;
        width: 94%;
        height: 70px;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
    }
    .card p{
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 3%;
        margin-right: 0;
    }
    .first{
        font-size: 1rem;
        font-weight: bold;
        margin-top: 3%;
        margin-bottom: 0%;
        margin-left: 0%;
        padding-top: 5%;
        padding-bottom: 1%;    
    }
    .second{
        font-size: 0.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .price{
        display: flex;
        margin-right: 5%;
    }

    /*Bouton*/

    .btn{
        width: 25%;
        border-radius: 30px;
        padding: 2%;
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: auto;
        margin-right: auto;   
    }

    /*Footer*/

    footer{
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    }
    .footerlogo{
    margin-left: 3%;
    padding-top: 0;
    padding-bottom: 0;
    }
    .picturelogo{
    background: #000;
    width: 10%;
    }
    .elements{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    }
    .element{
    width: 100%;
    color: white;
    font-size: 1em;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    }
    .element i{
    margin-right: 3%;
    font-size: 1em;
    } 
}

    
    