@media (max-width: 375px){

    @font-face {
        font-family: 'shrikhand';    
        src: url("Shrikhand/Shrikhand-Regular.otf");
        font-family: 'roboto';
        src: url("Roboto/RobotoCondensed-LightItalic.ttf");
    }
    /*body*/

    body{
        font-family: "roboto";
        margin: 0;
    }
    .logo{
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 0%;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .logo p{
        margin-top: 5%;
        margin-bottom: 2%;
    }
    p img {
        font-family: 'Shrikhand';
        width: 40%;
        height: auto;
        margin-bottom: 0%;
    }
    div i.fas{
        margin-left: 5%;
    }

    /*header*/

    header{
        padding-bottom: 0;
    }
    .picture{
        width: 100%;
        border: 1px solid transparent;
    }
    img{
        width: 100%;
        height: 250px; 
        object-fit: cover;
    }

    /*Main*/

    main{
        width: 100%;
        background-color: #F2F2F2;
    }
    .titre{
        width: 100%;
        height: auto;
        display: flex; 
        justify-content: space-between;
    }
    h1{
        height: min-content;
        margin-left: 5%; 
        margin-bottom: 0;
    }
    .far.far{
        line-height: 3;
        font-size: 1.8rem;
        color: gray;
        margin-right: 10%;
    }  
    
    /*Menus*/

    section{
        margin-top: 10%;
    }

    h2{
        font-size: 1em;
        margin-left: 5%;
        color: gray;
        margin-bottom: 1%;
    }
    #trait_dessous{
        width: 45px;
        margin-left: 5%;
        margin-bottom: 3%;
    }
    hr{
        height: 2px;
        border-color: transparent;
        background:#9bbee0; 
        margin-top: 1%;
    }
    .card{
        border: 1px solid #e5e6e7;
        border-color: #F2F2F2;
        border-radius: 20px;
        background: white;
        box-shadow: 0px 5px 5px #e0e3e6;
        width: 90%;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
    
    }
    .card p{
        margin-top: 0;
        margin-bottom: 0%;
        margin-left: 3%;
    
    }
    .first{
        margin-top: 3%;
        margin-bottom: 0%;
        margin-left: 4%;
        padding-top: 4%;
        padding-bottom: 1%;
        font-size: 1.2em;
        font-weight: bolder;
    }
    .second{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .second p{
        color: gray;
    }
    .price{
        color: black;
        font-weight: bolder;
        display: flex;
        margin-right: 5%;
    }

    /*Bouton*/

    input.bouton{
        width: 60%;
        border: 1px solid rgb(180, 116, 175);
        border-radius: 30px;
        background-color: #FF79DA ;
        box-shadow: inset 0 0 6em rgb(180, 116, 175);
        padding: 5%;
        color: #fff;
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 10%;
        margin-bottom: 15%;
        margin-left: 20%;
        margin-right: 20%;
    }

    /*Footer*/

    footer{
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: black;
    }
    h4{
        color: white;
        margin-top: 0;
        margin-left: 5%;
        padding-top: 5%;
        font-size: 1.5em;
    }
    ul{
        padding-bottom: 10%;
        padding-left: 5%;
    }
    ul li{
        color: white;
        list-style-type: none;
        margin-bottom: 2%;
        font-size: 1.2em;
    }
    ul i{
        margin-right: 3%;
        font-size: 1em;
    }
    .fa-utensils:before{
        font-size: 0.8em;
        margin-left: 0;
    }
    .fa-hands-helping:before{
        font-size: small;
        margin-left: 0;
    }
   
}

    
    