@font-face {
    font-family: 'Shrikhand';    
    src: url("./Police/Shrikhand/Shrikhand-Regular.otf");
    font-family: 'Roboto-Regular';
    src: url("./Police/Roboto/Roboto-Regular.ttf");
    font-family: 'Roboto-Light';
    src: url("./Police/Roboto/Roboto-Light.ttf");  
}
     /*body*/

     body{
        font-family: 'Roboto';
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    /*header*/

    header{
        padding-bottom: 0;
    }
    .logo{
        margin-top: 0%;
        margin-bottom: 1%;
        margin-left: 0;
        margin-right: 0;
        background-color: white;
        display: flex;
        justify-content: space-between;
    }
    .arrow{
        display: flex;
        text-decoration: none;
        color: black;
        padding-left: 5%;
        margin-top: 3%;
    }
   
    .imagelogo {
        font-family: 'Shrikhand';
        width: 40%;
        height: auto;
        background-color: white;
        display: flex; 
        padding-right: 30%;
        margin-top: 3%;
    }

    /*Image du restaurant*/

    .photo{
        width: 100%;
        height: 260px;
        margin-bottom: -15%;
    }
    .picture{
        width: 100%;
        border: 1px solid transparent;
    }
    img{
        width: 100%;
        height: 250px; 
        object-fit: cover;
    }

    /*Main, Article et Sections*/

    main{
        width: auto;
        background-color: #F2F2F2;
    }
    article{
        width: 100%;
        background-color: #F2F2F2;
        position: relative;
        z-index: 100;
        border-radius: 50px 50px 0px 0px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 40px;
    }
    .titre{
        border-radius: 50px 50px 0px 0px;
        width: 100%;
        height: auto;
        display: flex; 
        justify-content: space-between;
    }
    h1{
        font-family: 'Shrikhand';
        font-size: 1.8rem;
        margin-left: 5%; 
        margin-bottom: 0;
        padding-top: 5%;
        display: flex;
        justify-content: center;
    }
    .far.far{
        line-height: 3;
        font-size: 1.8rem;
        color: gray;
        margin-right: 8%;
        padding-top: 3%;
        display: flex;
        align-items: center;
    }  
    
    /*Menus*/
    .menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 3%;
    }

    .mets{
        width: auto;
        padding-left: 0%;
        padding-bottom: 10%;
    }
    h2{ 
        font-family: 'Roboto-Light';
        font-size: 1em;
        font-weight: inherit;
        margin-top: 0;
        margin-bottom: 1%;
        margin-left: 3%;
    }
    .trait_dessous{
        width: 40px;
        margin-left: 3%;
        margin-bottom: 3%;
    }
    hr{
        height: 2px;
        border-color: transparent;
        background:#9bbee0; 
        margin-top: 2%;
    }
    .card{
        border: 1px solid #e5e6e7;
        border-color: #F2F2F2;
        border-radius: 20px;
        background: white;
        box-shadow: 0px 5px 5px #e0e3e6;
        width: 96%;
        height: 70px;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .card p{
        margin-top: 0;
        margin-bottom: 0%;
        margin-left: 3%;
    }
    .first{
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 3%;
        margin-bottom: 0%;
        padding-top: 4%;
        padding-bottom: 1%;
        text-overflow: ellipsis;
        width: 320px;
    }
    .second{
        font-family: 'Roboto-Light';
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-overflow: ellipsis;
        width: 320px;
    }
    .price{
        color: black;
        font-weight: bolder;
        display: flex;
        justify-content: space-between;
        margin-right: -5%;
    }

    /*Bouton*/

    input.bouton{
        width: 60%;
        border: 1px solid rgb(180, 116, 175);
        border-radius: 30px;
        background-color: #FF79DA ;
        box-shadow: inset 0 0 6em rgb(180, 116, 175);
        padding: 5%;
        color: #fff;
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 5%;
        margin-bottom: 15%;
        margin-left: 20%;
        margin-right: 20%;
    }

    /*Footer*/

    footer{
        width: 100%;
        height: auto;
        padding-bottom: 10%;
        background-color: black;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
        display: flex;
        flex-direction: column;
    }
    .footerlogo{
        margin-left: 7%;
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .picturelogo{
        width: 40%;
    }
    .elements{
        display: flex;
        flex-direction: column;
        margin-left: 3%;
    }
    .element{
        color: white;
        font-size: 1.2em;
        margin-left: 5%;
        margin-top: 0%;
        margin-bottom: 2%;
        text-decoration: none;
    }
    .element i{
        margin-right: 3%;
        font-size: 1em;
    }
    .fa-utensils:before{
        font-size: 0.8em;
    }
    .fa-hands-helping:before{
        font-size: small;
    }
    @media (min-width: 376px) and (max-width: 768px){

        body{
            width: 100%;
        }
        .photo{
            width: 100%;
            height: 270px;
            margin-bottom: 0%;
        }
        .picture{
            width: 100%;
            border: 0px solid transparent;
        }
        header{
            width: 100%;
        }
        .logo{
            margin: 0;
        }
        .imagelogo {
            width: auto;
            height: auto; 
            padding-right: 35%;
        }
        .arrow{
            margin-top: 5%;
        }
        article{
            width: 100%;
            position: relative;
        }
        .mets{
            padding-bottom: 3%;
        }
        .card{
            margin-bottom: 3%;  
        }
        .first{
            padding-top: 2%;
        }
        input.bouton{
            margin-top: 0%;
            margin-bottom: 0%;
            margin-left: 20%;
            margin-right: 20%;
        }
        footer{
            width: 100%;
            margin-top: 2%;
            padding-bottom: 5%;
        }
        .footerlogo{
            margin-left: 3%;
            padding-top: 5%;
            padding-bottom: 3%;
        }
    }
    @media (min-width: 769px) and (max-width: 1024px){

        body{
            width: 100%;
        }
        .photo{
            width: 100%;
            height: 270px;
            margin-bottom: 0%;
        }
        .picture{
            width: 100%;
            border: 0px solid transparent;
        }
        header{
            width: 100%;
        }
        .logo{
            margin: 0;
        }
        .imagelogo {
            width: auto;
            height: auto; 
            padding-right: 35%;
        }
        .arrow{
            margin-top: 3%;
        }
        article{
            width: 100%;
            position: relative;
        }
        .mets{
            padding-bottom: 3%;
        }
        .card{
            margin-bottom: 3%;  
        }
        .first{
            padding-top: 1%;
        }
        input.bouton{
            width: 40%;
            padding: 3%;
            font-size: 1.1em;
            margin-top: 0%;
            margin-bottom: 0%;
            margin-left: 30%;
            margin-right: 30%;   
        }
        footer{
            width: 100%;
            margin-top: 2%;
            padding-bottom: 5%;
        }
        .footerlogo{
            margin-left: 1%;
            padding-top: 5%;
            padding-bottom: 3%;
        }
    }
    @media (min-width: 1025px) and (max-width: 1824px){
    /*body*/

    body{
        font-family: 'Roboto';
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    /*header*/

    header{
        width: 100%;
        padding-bottom: 0;
    }
    article{
        width: 100%;
        position: fixed;
    }
    .logo{
        margin: 0;
        background-color: white;
        display: flex;
        justify-content: space-between;
    }
    .arrow{
        display: flex;
        text-decoration: none;
        color: black;
        padding-top: 1%;
        padding-left: 5%;
    }
    .imagelogo {
        width: auto;
        height: auto; 
        padding-top: 0%;
        padding-right: 40%;
        margin-left: 0;
    }

    /*Image du restaurant*/

    .photo{
        width: 100%;
        height: auto;
        margin-bottom: -5%;
    }
    .picture{
        width: 100%;
        border: 1px solid transparent;
    }
    img{
        width: 100%;
        height: 400px; 
        object-fit: cover;
    }

    /*Main, Article et Sections*/

    main{
        width: 100%;
        background-color: #F2F2F2;
    }
    article{
        width: 94%;
        height: auto;
        position: relative;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;   
    }
    .titre{
        width: 100%;
        height: auto;
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
    }
    h1{
        font-size: 1.8rem;
        margin-left: 0%; 
        margin-bottom: 0;
        padding-top: 3%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .far.far{
        line-height: 3;
        font-size: 1.8rem;
        color: gray;
        margin-right: 3%;
        padding-top: 3%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }  

    /*Menus*/

    .menu{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }
    .mets{
        width: 50%;
        padding-bottom: 5%;
    }
    h2{
        font-size: 1em;
        font-weight: inherit;
        margin-left: 0%;
        color: gray;
        margin-bottom: 1%;
    }
    .trait_dessous{
        width: 40px;
        margin-left: 0%;
        margin-bottom: 0%;
    }
    hr{
        height: 2px;
        border-color: transparent;
        background:#9bbee0; 
        margin-top: 1%;
    }
    div.card{
        border-radius: 20px;
        box-shadow: 0px 5px 5px #e0e3e6;
        width: 95%;
        height: 70px;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
    }
    .card p{
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 3%;
    }
    .first{
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 3%;
        margin-bottom: 0%;
        margin-left: 4%;
        padding-top: 3%;
        padding-bottom: 1%;    
    }
    .second{
        font-family: 'Roboto-Light';
        font-size: 0.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .price{
        color: black;
        font-weight: bolder;
        display: flex;
        margin-right: 5%;
    }

    /*Bouton*/

    input.bouton{
        width: 40%;
        border-radius: 30px;
        padding: 3%;
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: auto;
        margin-right: auto;   
    }

    /*Footer*/

    footer{
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    }
    .footerlogo{
    margin-left: 3%;
    padding-top: 0;
    padding-bottom: 0;
    }
    .picturelogo{
    background: #000;
    width: 10%;
    }
    .elements{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    }
    .element{
    width: 100%;
    color: white;
    font-size: 1em;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    }
    .element i{
    margin-right: 3%;
    font-size: 1em;
    } 
}

    
    