/*Définition de la police personnalisée*/
@font-face {
    font-family: 'Shrikhand';    
    src: url("./Police/Shrikhand/Shrikhand-Regular.otf");
    font-family: 'Roboto-Regular';
    src: url("./Police/Roboto/Roboto-Regular.ttf");
    font-family: 'Roboto-Light';
    src: url("./Police/Roboto/Roboto-Light.ttf");
    
}
/*body*/
body{
    font-family: 'Roboto-Regular';
}

/*header*/

header{
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0; 
    padding-bottom: 3%;
}
.logo{
    margin-top: 0%;
    margin-bottom: 1%;
    text-align: center;
    background-color: white;
   
}
#imagelogo {
    font-family: 'Shrikhand';
    width: 20%;
    height: auto;
    background-color: white;  
}

form{
    width: 40%;
    border: 2px solid rgb(216, 214, 214);
    border-radius: 20px;
    background-color: #e1e3e7;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    margin-left: 30%;
}
form i{
    font-size: 1em;
    margin-left: 20%;
    margin-top: 0.5%;
    display: flex;
    align-items: center;
}
input.search{
    border: transparent;
    background-color: #e1e3e7;
    font-size: 1em;
    color: black;
    font-weight: bolder;
    margin-left: 3%;
    display: flex;
    align-items: center;
}
h1{
    font-size: 1.8em;
    text-align: center;
    width: auto;
    margin-top: 3%;
    margin-left:auto;
    margin-right: auto;
}
.reserve{
    width: 350px;
    overflow: hidden;
    font-size: 1.3em;
    font-weight: lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
input.bouton{
    width: 40%;
    border: 1px solid #9356DC;
    border-radius: 30px;
    background-color: #FF79DA ;
    box-shadow: inset 0 0 6em #9356DC;
    padding: 2%;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 15%;
}

/*Fonctionnement*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.fonction{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
h2{ 
    margin-left: 35%;
    margin-bottom: 0;
    font-size: 1.8em;
    font-weight: bolder;
    display: flex;
    
}
.function{
    width: auto;
    margin-top: 10%;
    margin-left: 0%;
    display: flex;
    flex-direction: column;   
}
.function1{
    width: auto;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 25px;
    box-shadow: 0 2px 0px 0.1em #e2e2e2; 
    padding: 5%;
    font-size: 1.2em;
    font-weight: bolder;  
    margin-bottom: 5%;
    display: flex;   
    justify-content: center;
}

.number{
    border: 1px solid #9356DC;;
    background:#9356DC; ;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    position: absolute;
    font-size: 0.8rem;
    line-height: 1; 
    display: flex;
    margin-left: -40%;
}

.function1 i{
    color: gray;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
}
i.fas.fa-mobile-alt{
    padding-right: 5%;
}
i.fas.fa-list-ul{
    padding-right: 7%;
}
i.fas.fa-store{
    color: #9356DC;
    padding-right: 5%;
}

 /*Restaurants*/

.blocrestos{
    width: 100%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 5%;
    background-color: #F2F2F2;
    border: 1px solid #e2e2e2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

}
h3{
    padding-top: 3%;
    margin-left: 7%;
    font-size: 1.8em;
    font-weight: bolder; 
    display: flex;  
}
.bloc{
    width: 100%;
    margin-left: 0%;
    margin-right: 5%;
    padding-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.resto{
    width: 40%;
    height: 250px;
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 5px 0.3em #e2e2e2; 
    margin-bottom: 3%; 
    
}
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%; 
    height: 70%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
div.ensemble{
    margin-right: 0%;
    display: flex;
    justify-content: space-between;
}
.text{
    font-size: 1.2em;
    color: black;
    padding-left: 5%;
    padding-bottom: 5%;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.nom{
    margin-top: 10%;
    margin-bottom: 0;
    font-weight: bolder;
}
.nom1{
    margin-top: 2%;
    margin-bottom: auto;
}
i.far.fa-heart{
    margin-top: 5%;
    margin-right: 10%; 
    font-size: 2em;
    font-weight: 0.1em;
}
.nouveau{
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: rgb(160, 228, 224);
    width: 110px;
    height: 40px;  
    position: absolute;
    z-index: 20; 
    margin-top: 1%;
    margin-left: 25%; 
}
.nouveau p{
    font-size: 1.2em;
    font-weight: bolder;
    color: rgb(38, 122, 76);
    margin-top: 8%;
    margin-bottom: auto;
    text-align: center;
}
img.nouveau{
    display: flex;
    justify-content: flex-end;   
} 
/*Footer*/
footer{
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 1%;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.footerlogo{
    margin-left: 3%;
    padding-top: 3%;
    padding-bottom: 1%;
}
.elements{
    display: flex;
    flex-direction: row;
}
.element{
    width: 100%;
    color: white;
    font-size: 1.2em;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.element i{
    margin-right: 3%;
    font-size: 1em;
}
.fa-utensils:before{
    font-size: 0.8em;
}
.fa-hands-helping:before{
    font-size: small;
}
@media (max-width: 375px){
    
/*Définition de la police personnalisée*/
@font-face {
    font-family: 'Shrikhand';    
    src: url("./Police/Shrikhand/Shrikhand-Regular.otf");
    font-family: 'Roboto-Regular';
    src: url("./Police/Roboto/Roboto-Regular.ttf");
    font-family: 'Roboto-Light';
    src: url("./Police/Roboto/Roboto-Light.ttf");
    
}
/*body*/
body{
    font-family: 'Roboto-Regular';
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*header*/
main{
    font-family: 'Roboto-Regular';
    margin: 0;
    width: 100%;
    height: auto;  
}
header{
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 0;
    margin-bottom: 5%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 15%;
    
}
.logo{
    margin-top: 8%;
    margin-bottom: 0;
    text-align: center;
    background-color: white;
}
#imagelogo {
    font-family: 'Shrikhand';
    width: 40%;
    height: auto;
    background-color: white;
}

form{
    width: 100%;
    border-top: 2px solid rgb(216, 214, 214);
    border-radius: inherit;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background-color: #e1e3e7;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 0;
    display: flex;
    justify-content: center;
}
form i{
    font-size: 1em;
    margin-left: 20%;
    margin-top: 0.5%;
}
input.search{
    border: transparent;
    background-color: #e1e3e7;
    font-size: 1em;
    color: black;
    font-weight: bolder;
    margin-left: 3%;
}
h1{
    width: 300px;
    overflow: hidden;
    font-size: 1.8em;
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.reserve{
    width: 375px;
    overflow: hidden;
    font-size: 1.3em;
    font-family: 'Roboto-Light';
    font-weight: lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
input.bouton{
    width: 70%;
    border: 1px solid #9356DC;
    border-radius: 30px;
    background-color: #FF79DA ;
    box-shadow: inset 0 0 6em #9356DC;
    padding: 5%;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

/*Fonctionnement*/

.fonction{
    width: 100%; 
}
h2{
    margin-left: 3%;
    font-size: 1.8em;
    font-weight: bolder;
    display: flex;
    justify-content: start;
}
.function{
    width: 75%;
    margin-top: 15%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;   
}
.function1{
    width: 100%;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 25px;
    box-shadow: 0 2px 0px 0.1em #e2e2e2; 
    padding: 8%;
    font-size: 1em;
    font-weight: bolder;  
    margin-bottom: 5%;
    display: flex;
    align-items: center;   
}

.number{
    border: 1px solid #9356DC;;
    background:#9356DC; ;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    position: absolute;
    margin-left: -85%;
    display: flex;
    font-size: 0.8rem;
    display: flex;
    align-items: center; 
}

.function1 i{
    color: gray;
    margin-left: 0%;
    margin-right: 5%;
    font-size: 1em;
    display: flex;
    align-items: center;
}
i.fas.fa-mobile-alt{
    padding-right: 5%;
}
i.fas.fa-list-ul{
    padding-right: 6%;
}
i.fas.fa-store{
    color: #9356DC;
    padding-right: 5%;
}

 /*Restaurants*/

.blocrestos{
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15%;
    padding-bottom: 10%;
    background-color: #F2F2F2;
    border: inherit;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
}
h3{
    padding-top: 5%;
    margin-left: 3%;
    font-size: 1.8em;
    font-weight: bolder;   
}
.bloc{
    width: auto;
    height: auto;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 0;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
}
.resto{
    width: 94%;
    height: 250px;
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 5px 0.3em #e2e2e2; 
    margin-bottom: 5%; 
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%; 
    height: 70%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
div.ensemble{
    margin-right: 0%;
    display: flex;
    justify-content: space-between;
}
.text{
    font-size: 1.2em;
    color: black;
    padding-left: 5%;
    padding-bottom: 5%;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.nom{
    margin-top: 10%;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: bolder;
}
.nom1{
    font-family: 'Roboto-Light';
    font-size: 1rem;
    margin-top: 2%;
    margin-bottom: auto;
}
i.far.fa-heart{
   
    margin-top: 5%;
    margin-right: 10%; 
    font-size: 2em;
    font-weight:lighter;
}
.nouveau{
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: rgb(160, 228, 224);
    width: 110px;
    height: 40px;  
    position: absolute;
    z-index: 20; 
    margin-top: 5%;
    margin-left: 55%; 
}
.nouveau p{
    font-size: 1.2em;
    font-weight: bolder;
    color: rgb(38, 122, 76);
    margin-top: 8%;
    margin-bottom: auto;
    text-align: center;
}
img.nouveau{
    display: contents;
    justify-content: flex-end;   
} 
/*Footer*/
footer{
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 10%;
    background-color: black;
    margin-top: -5%;
    display: flex;
    flex-direction: column;
}
.footerlogo{
    margin-left: -3%;
    padding-top: 10%;
    padding-bottom: 5%;
}
.elements{
    display: flex;
    flex-direction: column;
}
.element{
    color: white;
    font-size: 1.2em;
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: 2%;
    text-decoration: none;
}
.element i{
    margin-right: 3%;
    font-size: 1em;
}
.fa-utensils:before{
    font-size: 0.8em;
}
.fa-hands-helping:before{
    font-size: small;
}
}